.body {
  text-align: center;
  margin: none;
  width: 100%;
  position: relative;
}

.header {
  margin: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 120px;
  top: 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Bold", Icons;
  font-style: normal;
  font-weight: 700;
  color: black;
  font-size: 1.7rem;
  line-height: 0.8;
}

h2 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Bold", Icons;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 0.8;
}

.shop {
  position: absolute;
  left: 20px;
  top: 20px  
}

a {
  text-decoration: none;
}

.textRight {
  position: absolute;
  right: 20px;
  top: 20px
}

.hero {
  margin: 0;
  /* width:100%; */
  height: 1100px;
  background-color: black;
}

.footer {
  color: white;
  height: 200px;
  width: 100%;
  background-color: red;
}

.socialLinks {
  list-style: none;
  display: flex;
}

.streamLinks {
  list-style: none;
  display: flex;
}

.downloadLinks {
  list-style: none;
  display: flex;
}

.logoBlack {
  /* display:flex; */
  position: absolute;
  height: 80px;
  width: 10%;
  right: 900px;
  bottom: 35px
}

.logoWhite {
  /* display:flex; */
  position: absolute;
  margin: 0;
  width: 75%;
  right: 280px;
  bottom: 20px
}


.social {
  display: inline-block;
  position: absolute;

}

.stream {
  display: inline-block;
  position: absolute;
  left: 800px;
  bottom: 0px
}

.download {
  display: inline-block;
  position: absolute;
  left: 850px;
  bottom: 0px
}

