body {
  margin: 0;
  /* text-align: center; */
   }

.mainContainer {
  position: relative;
  background-color: black;
} 

.header {
  background-color: green;
  position: absolute;
  height: 100px;
  width: 100%;
}

.shoplink {
  display:inline-block;
}

.textRight {


}

.smallLogo {
  position: absolute;
}

.heroContainer {
  background-color: black;

}
.shopLink {
  
}

.smallLogo {
   
}

.header {
 
}


.heroContainer {
  
}


.footer {

}